{{template "base" .}}
{{define "content"}}
<main>
  <div class="container py-2">

    <section class="text-center">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
          <img src="../static/images/generals-quarters.png" class="d-block w-100" alt="Woman and laptop">
          <h1 class="fw-light">Album example</h1>
          <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p>
          <p>
            <!-- Button trigger modal -->
            <button id="search-availability" type="button" class="btn btn-warning">
              Reservation
            </button>
          </p>
        </div>
      </div>
    </section>


    <!-- Modal -->
    <!-- <div class="modal fade" id="modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <form action="/reservation" method="post">
              <div class="row gx-5">
                <div class="mb-3 col">
                  <label for="state_date" class="form-label">Choose start date</label>
                  <input required type="date" class="form-control" name="state_date" id="state_date" aria-describedby="emailHelp">
                  <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <div class="mb-3 col">
                  <label for="end_date" class="form-label">And end date</label>
                  <input required type="date" class="form-control" name="end" id="end_date">
                </div>
              </div>
              <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Check me out</label>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div> -->

  </div>

</main>
{{end}}

{{define "js"}}

<script>
  document.getElementById("search-availability").addEventListener('click', function(e) {
    let html =
    `<form id="check-availability-form" action="" method="post">
      <div class="form-row">
        <div class="col">
          <div class="row justify-content-center g-3" id="reservation-dates-modal"> 
            <div class="col">
              <input disabled required type="text" class="form-control" name="start" id="start" placeholder="Arrival">
            </div>
            <div class="col">
              <input disabled required type="text" class="form-control" name="end" id="end" placeholder="Departure">
            </div>
          </div>
        </div>
      </div>
    </form>`
    
      let Q = Prompt()
      // Q.toast({title: "Q", icon: "success", position: "top-end"})
      // Q.toast()
      // Q.success()
      // Q.error()
      Q.custom('Choose Your Dates', html,
        () => {
          const elem = document.getElementById('reservation-dates-modal')
          const rp = new DateRangePicker(elem, {
            format: 'yyyy-MM-dd',
            showOnFocus: true,
          })
        },
        () => {
          document.getElementById('start').removeAttribute('disabled')
          document.getElementById('end').removeAttribute('disabled')
        },
        function(result) {
        console.log('call')

        let form = document.getElementById('check-availability-form')
        let formData = new FormData(form)
        formData.append("csrf_token", "{{ .CSRFToken }}")

        fetch('/search-availability-json', {
          method: "post",
          body: formData,
        })
        .then(res => res.json())
        .then(data => console.log(data))
      })
  })
</script>

{{end}}