{{template "base" .}}
{{define "content"}}
<main>
  <div class="container py-2">
    <h1>Reservation Form</h1>
    
    {{$res := index .Data "reservation"}}
    <form method="post" action="/reservation" class="" novalidate>
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

      <div class="mb-3">
        <label for="first-name" class="form-label">First Name</label>
        {{ with .Form.Errors.Get "first-name" }}
          <label class="text-danger">{{ . }}</label>
        {{ end }}
        <input required autocomplete="off" type="text" class="form-control {{ with .Form.Errors.Get "first-name" }} is-invalid{{end}}" value="{{$res.FirstName}}" name="first-name" id="first-name">
      </div>
      <div class="mb-3">
        <label for="last-name" class="form-label">Last Name</label>
        {{ with .Form.Errors.Get "last-name" }}
          <label class="text-danger">{{ . }}</label>
        {{ end }}
        <input required autocomplete="off" type="text" class="form-control {{ with .Form.Errors.Get "last-name" }} is-invalid{{end}}" value="{{$res.LastName}}" name="last-name" id="last-name">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label">Email address</label>
        {{ with .Form.Errors.Get "email" }}
          <label class="text-danger">{{ . }}</label>
        {{ end }}
        <input required autocomplete="off" type="email" class="form-control {{ with .Form.Errors.Get "email" }} is-invalid{{end}}" value="{{$res.Email}}" name="email" id="email">
      </div>
      <div class="mb-3">
        <label for="phone" class="form-label">Phone</label>
        {{ with .Form.Errors.Get "phone" }}
          <label class="text-danger">{{ . }}</label>
        {{ end }}
        <input required autocomplete="off" type="number" class="form-control {{ with .Form.Errors.Get "phone" }} is-invalid{{end}}" value="{{$res.Phone}}" name="phone" id="phone">
      </div>
      <input type="submit" class="btn btn-primary" value="Make Reservation">
    </form>

  </div>
</main>
{{end}}