{{template "base" .}}
{{define "content"}}
<main>
  <div class="container py-2">
    <h1>Search For Reservation</h1>

    <form action="/search-availability" method="post">
      <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">
      <div class="row">
        <div class="col">
          <div class="row justify-content-center g-3" id="reservation-dates"> 
            <div class="col-4">
              <input required type="text" class="form-control" name="start" placeholder="Arrival">
            </div>
            <div class="col-4">
              <input required type="text" class="form-control" name="end" placeholder="Departure">
            </div>
            <div class="col-8">
              <button type="submit" class="btn btn-primary" id="sent">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </form>

  </div>
</main>
{{end}}

{{define "js"}}
<script>
  const elem = document.getElementById('reservation-dates');
  const rangepicker = new DateRangePicker(elem, {
    format: 'yyyy-MM-dd'
    // ...options
  }); 
</script>
{{end}}